.container {
    font-family: "Poppins", sans-serif;
    border: solid 5px #ff5468;
    border-radius: 25px;
    max-height: 655px;
    margin: 10px auto;
    max-width: 680px;
  }
  
  h1 {
    color: #ff5468;
    position: relative;
    top: -37px;
    max-width: 250px;
  }
  
  h2 {
    position: relative;
    top: -38px;
    max-width: 250px;
  }
  
  .links{
    font-size: 13px;
    position: relative;
    top: -229px;
  }
  .today-temp {
    color: #ff5468;
    font-size: 50px;
    position: relative;
    left: 461px;
    bottom: 372px;
  }
  
  .today-image {
    position: relative;
    left: 190px;
    bottom: 207px;
  }
  
  .nav {
    position: relative;
    left: 300px;
    top: 54px;
  }
  
  .btn {
    background-color: #ff5468;
    color: white;
    border-color: white;
    border-radius: 25px;
    position: relative;
    left: 63px;

  }
  
  .form-control {
    border-color: #ff5468;
    border-radius: 25px;
    width: 50%;
    position: relative;
    left: 63px;
  }
  
  .btn:hover {
    background-color: #ff5468;
    color: white;
    border-color: white;
    opacity: 85%;
    transition: all ease-in-out 200ms;
  }

  .units {
    font-size: 20px;
    position: relative;
    top: -22px;
    
  }

  .units a {
    text-decoration: none;
    color: #ff5468;

  }

  .row {
    position: relative;
    bottom: 135px;
    text-align: center;
    font-size: 15px;
    font-weight: 300px;
    color: #ff5468;
  }
  
  div.card.h-100 {
    border: solid 1px #ff5468;
    border-radius: 25px;
    padding: 5px;
  }
  
  .current-button {
    background-color: #ff5468;
    color: white;
    border-color: white;
    border-radius: 25px;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    position: relative;
    left: 550px;
    top: 54px;
  }
  
  .current-button:hover {
    background-color: #ff5468;
    color: white;
    border-color: white;
    opacity: 85%;
    transition: all ease-in-out 200ms;
  }

.links a {
  text-decoration: none;


}